div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Label1
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 29px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #008B8B;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-size: 27px;
}
#Button2
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #4169E1;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 37px;
}
#Button3
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #CD853F;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 37px;
}
#Button4
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #BDB76B;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 32px;
}
#Button5
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #90EE90;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 37px;
}
#Button6
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #00FA9A;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 37px;
}
#Button7
{
   border: 1px #2E6DA4 solid;
   border-radius: 4px;
   background-color: #7B68EE;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 37px;
}
#Label2
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFE4E1;
   background-image: none;
   color :#000000;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 35px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: top;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Logout1
{
   background-color: #DC143C;
   border-color: #000000;
   border-width: 1px;
   border-style: solid;
   border-radius: 4px;
   color: #F5FFFA;
   font-family: Georgia;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   width: 126px;
   height: 34px;
}
